body{
	margin: 0px;
	font-family: sans-serif;
}
.text-right{
	text-align: right;
	width: 150px;
}
.left{
	float: left;
	width: 350px;
	margin: 25px 25px;
}
.directions{
	margin-bottom: 20px;
}
.directions.first{
	margin-bottom: 40px;
}
#wrapper{
	max-width: 960px;
	padding: 0px 20px;
	min-width: 800px;
	margin: 0px auto;
}
.step h2{
	font-size: 18pt;
	margin: 0px;
	padding: 10px 15px;
	border-bottom: 1px solid;
	background-color: #ccc;
}
.step{
	overflow: hidden;
	margin-bottom: 25px;
	border: 1px solid;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.right-button{
	float: right;
}

.section{
	border-bottom: 1px dashed;
	margin: 15px 5%;
	padding-bottom: 10px;
}
.section.last{
	border-bottom: 0px;
}
select{
	width: 127px;
}
.games{
	padding: 0px;
	list-style-type: none;
	width: 250px;
}
.numbers, .games{
	float: left;
}
.games li, .numbers li{
	background-image: none;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}
.alert{
	color: red;
}
.preregistration{
	padding-bottom: 20px;
	border-bottom: 1px solid;
	margin-top: 40px;
}
.finish{
	float: right;
}

.side-note{
	font-style: italic;
	font-size: 11px;	
}

.title{
	font-weight: bold;
	width: 100px;
	display:inline-block;
}
.arrival-time{
	border-collapse: collapse;
	width: 100%;
}
.arrival-time td{
	border: 1px solid;
	padding: 5px;
}
.selected{
	background-color: #fffc78;
}
.step{
	width: 800px;
}

hr{
	border-style: dashed;
}
.green{
	color: #008f50;
}
.chargie{
	width: 100px;
	float: right;
}
.chargie img{
	width: 100%;
}