body{
	margin: 0px;
	font-family: sans-serif;
}
.text-right{
	text-align: right;
	width: 150px;
}
.left{
	float: left;
	width: 40%;
	padding: 15px 5%;
}
.directions{
	margin-bottom: 20px;
}
.directions.first{
	margin-bottom: 40px;
}
.right{
	float: right;
	width: 40%;
	padding: 15px 5%;
}
#wrapper{
	max-width: 960px;
	padding: 0px 20px;
	min-width: 800px;
	margin: 0px auto;
}
.step h2{
	font-size: 18pt;
	margin: 0px;
	padding: 10px 15px;
	border-bottom: 1px solid;
	background-color: #ccc;
}
.step{
	overflow: hidden;
	margin-bottom: 25px;
	border: 1px solid;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.right-button{
	float: right;
}

.section{
	border-bottom: 1px dashed;
	margin: 15px 5%;
}
.section.last{
	border-bottom: 0px;
}
select{
	width: 127px;
}
.games{
	padding: 0px;
	list-style-type: none;
	width: 250px;
}
.numbers, .games{
	float: left;
}
.games li, .numbers li{
	background-image: none;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}
.preregistration{
	padding-bottom: 20px;
	border-bottom: 1px solid;
	margin-top: 40px;
}
.finish{
	float: right;
}